<button mat-icon-button>
  <mat-icon (click)="openAddDialog()">add</mat-icon>
</button>

<div class="" style="display: inline-block" *ngFor="let section of Section">
  <div class="drag-container">
    <div class="section-heading">{{section.id}}</div>

    <div cdkDropList id="{{section.id}}" [cdkDropListData]="section.sectionlist"
         [cdkDropListConnectedTo]="connectedTo" class="item-list" (cdkDropListDropped)="drop($event, section.sectionlist)">
      <mat-card class="mat-card-box" *ngFor="let sectionItem of section.sectionlist" cdkDrag>
        <mat-card-title>fiche: {{sectionItem.Libelle}}

        </mat-card-title>
        <mat-card-content>
          <div> Libelle: {{sectionItem.Libelle}}</div>
          <div> Date butoire: {{sectionItem.Datebutoire}}</div>
          <div> Time: {{sectionItem.Time}}</div>
          <div> Lieu: {{sectionItem.Lieu}}</div>
          <div> Note: {{sectionItem.note}}</div>
          <div> Url: {{sectionItem.Url}}</div>
          <div> Section: {{sectionItem.Section.nomsection}}</div>
          <div> User: {{sectionItem.user.Nom}}</div>
          <div>
          <mat-list>
            Tags
            <mat-list-item *ngFor="let tag of sectionItem.tag">{{tag['libelle']}}</mat-list-item>
          </mat-list>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="openEditDialog(sectionItem)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="mat-24" (click)="onDelete(sectionItem)">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <!--<button (click)="deleteItem(.key, item, itemIndex)" mat-icon-button><mat-icon>close</mat-icon></button>-->
    </div>
  </div>
  <!--  <div cdkDropList *ngFor="let list of lists | keyvalue"-->
  <!--       [cdkDropListData]="list.value"-->
  <!--       class="list"-->
  <!--       (cdkDropListDropped)="drop($event)">-->
  <!--    &lt;!&ndash;<h2>{{ list.key | transloco }}</h2>&ndash;&gt;-->
  <!--    <div class="list-content" *ngFor="let item of list.value; let itemIndex = index" cdkDrag>-->
  <!--      <span>{{item}}</span>-->
  <!--     &lt;!&ndash; <button (click)="deleteItem(list.key, item, itemIndex)" mat-icon-button><mat-icon>close</mat-icon></button>&ndash;&gt;-->
  <!--    </div>-->
  <!--  </div>-->
</div>
