<div class="p-d-inline" style="display: inline-block" *ngFor="let section of Section">
  <div class="drag-container">
    <div class="section-heading">Section {{section.id}}</div>

    <div cdkDropList id="{{section.id}}" [cdkDropListData]="section.sectionlist"
         [cdkDropListConnectedTo]="connectedTo" class="item-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let sectionItem of section.sectionlist" cdkDrag>section {{section.id}} {{sectionItem}}</div>
    </div>
  </div>
</div>
