<h2 mat-dialog-title>user</h2>
<mat-dialog-content [formGroup]="form">


  <mat-form-field>
    <input matInput
           placeholder="Nom"
           formControlName="Nom" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Profession"
           formControlName="Profession">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Email"
           formControlName="Email">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()">
    Save
  </button>

</mat-dialog-actions>

