<h2 mat-dialog-title>tag</h2>


<mat-dialog-content *ngIf="sections && tags" [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="libelle"
           formControlName="libelle">



  <mat-form-field>
    <input matInput
           placeholder="date butoire"
           formControlName="dateButoire">

  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="time"
           formControlName="time">

  </mat-form-field>
<!--<mat-dialog-content [formGroup]="form">-->

  <mat-form-field>
    <input matInput
           placeholder="Course Description"
           formControlName="">
  </mat-form-field>

<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
<!--
</mat-dialog-actions>
-->
